- name: Create output folder
  include_tasks: tasks/create_output_folder.yml

- name: Create {{ capi_namespace }} namespace
  shell: |
    oc create namespace {{ capi_namespace }} --dry-run=client -o yaml | oc apply -f -

- name: Set ClusterManager cluster_role_binding
  include_tasks: tasks/set_cluster_role_binding.yml

- name: Set ClusterRoleBinding registration_configuration
  include_tasks: tasks/set_registration_configuration.yml

- name: Create AWS Credentials
  include_tasks: tasks/create_aws_credentials.yml

- name: Restart capa-controller-manager deployment.
  include_tasks: tasks/restart_capa_controller_manager.yml

- name: Create rosa-creds-secret.
  include_tasks: tasks/create_rosa_creds_secret.yml

- name: Set the AWSCusterControllerIdentity
  include_tasks: tasks/set_aws_identity.yml

- name: Apply the ROSAControlPlane custom template.
  include_tasks: tasks/create_rosa_control_plane.yml

