- name: Create rosa-creds-secret variables
  set_fact:
    secret_name: "rosa-creds-secret"
    ocm_client_id: "{{ OCM_CLIENT_ID }}"
    ocm_client_secret: "{{ OCM_CLIENT_SECRET }}"
    ocm_client_api_url: "https://api.stage.openshift.com"

- name: Create or update rosa-creds-secret in multicluster-engine namespace
  shell: |
    oc -n multicluster-engine create secret generic {{ secret_name }} \
      --from-literal=ocmClientID={{ ocm_client_id }} \
      --from-literal=ocmClientSecret={{ ocm_client_secret }} \
      --from-literal=ocmApiUrl={{ ocm_client_api_url }} \
      --dry-run=client -o yaml | oc apply -f -

- name: Create or update rosa-creds-secret in target namespace
  shell: |
    oc -n {{ capi_namespace | default('ns-rosa-hcp') }} create secret generic {{ secret_name }} \
      --from-literal=ocmClientID={{ ocm_client_id }} \
      --from-literal=ocmClientSecret={{ ocm_client_secret }} \
      --from-literal=ocmApiUrl={{ ocm_client_api_url }} \
      --dry-run=client -o yaml | oc apply -f -
  when: capi_namespace is defined and capi_namespace != 'multicluster-engine'

- name: Print rosa-creds-secret ocm client information
  debug:
    msg: "Logging in with ocm_client_id: {{ ocm_client_id }} ocm_client_secret: {{ ocm_client_secret }} to:  {{ ocm_client_api_url }}  "
