# CAPI and HyperShift are mutually exclusive - disable HyperShift components first
- set_fact:
    component: "hypershift"

- name: Disable hypershift
  include_tasks: "{{ AUTOMATION_PATH }}/tasks/update_enabled_flag.yml"
  vars:
    enable: "false"

- set_fact:
    component: "hypershift-local-hosting"

- name: Disable hypershift-local-hosting
  include_tasks: "{{ AUTOMATION_PATH }}/tasks/update_enabled_flag.yml"
  vars:
    enable: "false"

# Now enable CAPI components for newer MCE versions (no -preview suffix)
- set_fact:
    component: "cluster-api"

- name: Get {{ component }} status
  include_tasks: "{{ AUTOMATION_PATH }}/tasks/get_mce_component_status.yml"

- name: Enable capi
  include_tasks: "{{ AUTOMATION_PATH }}/tasks/update_enabled_flag.yml"
  vars:
    enable: "true"
  when: not component_enabled.stdout | bool

- set_fact:
    component: "cluster-api-provider-aws"

- name: Get {{ component }} status
  include_tasks: "{{ AUTOMATION_PATH }}/tasks/get_mce_component_status.yml"

- name: Enable capa
  include_tasks: "{{ AUTOMATION_PATH }}/tasks/update_enabled_flag.yml"
  vars:
    enable: "true"
  when: not component_enabled.stdout | bool
