apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
kind: ROSARoleConfig
metadata:
  name: {{ rosa_role_config.name | default(cluster_name + '-role-config') }}
  namespace: {{ capi_namespace }}
spec:
  identityRef:
    kind: AWSClusterControllerIdentity
    name: {{ rosa_role_config.identity_name | default('default') }}
  credentialsSecretRef:
    name: {{ rosa_creds_secret }}
  accountRoleConfig:
    prefix: {{ rosa_role_config.prefix | default(cluster_name_prefix) }}
    version: {{ rosa_role_config.version | default(openshift_version) }}
    {% if rosa_role_config.permissions_boundary_arn is defined %}
    permissionsBoundaryArn: {{ rosa_role_config.permissions_boundary_arn }}
    {% endif %}
  operatorRoleConfig:
    prefix: {{ rosa_role_config.prefix | default(cluster_name_prefix) }}
    {% if rosa_role_config.permissions_boundary_arn is defined %}
    permissionsBoundaryArn: {{ rosa_role_config.permissions_boundary_arn }}
    {% endif %}