apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ capi_namespace }}
spec:
  hubAcceptsClient: true
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ capi_namespace }}
spec:
  clusterNetwork:
    pods:
      cidrBlocks: ["{{ cluster_network.pod_cidr | default('192.168.0.0/16') }}"]
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
    kind: ROSACluster
    name: {{ cluster_name }}
    namespace: {{ capi_namespace }}
  controlPlaneRef:
    apiVersion: controlplane.cluster.x-k8s.io/v1beta2
    kind: ROSAControlPlane
    name: {{ cluster_name }}
    namespace: {{ capi_namespace }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
kind: ROSACluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ capi_namespace }}
spec: {}
---
apiVersion: controlplane.cluster.x-k8s.io/v1beta2
kind: ROSAControlPlane
metadata:
  name: {{ cluster_name }}
  namespace: {{ capi_namespace }}
spec:
  rosaRoleConfigRef:
    name: {{ rosa_role_config.name | default(cluster_name + '-role-config') }}
    namespace: {{ capi_namespace }}
  rosaClusterName: {{ cluster_name }}
  domainPrefix: {{ domain_prefix | default('rosa-' + cluster_name_prefix) }}
  version: {{ openshift_version }}
  region: {{ aws_region }}
  channelGroup: {{ channel_group | default('stable') }}
  defaultMachinePoolSpec:
    instanceType: {{ machine_pool.instance_type | default('m5.xlarge') }}
    autoscaling:
      maxReplicas: {{ machine_pool.max_replicas | default(3) }}
      minReplicas: {{ machine_pool.min_replicas | default(2) }}
  additionalTags:
    env: {{ environment_tag | default('test') }}
    purpose: {{ purpose_tag | default('acm21162-testing') }}
    automated: "true"
  {% if rosa_subnets is defined and rosa_subnets|length > 0 %}
  subnets:
    {% for subnet in rosa_subnets %}
    - {{ subnet }}
    {% endfor %}
  {% endif %}
  {% if rosa_availability_zones is defined and rosa_availability_zones|length > 0 %}
  availabilityZones:
    {% for az in rosa_availability_zones %}
    - {{ az }}
    {% endfor %}
  {% endif %}
  network:
    machineCIDR: {{ cluster_network.machine_cidr | default('10.0.0.0/16') }}
    podCIDR: {{ cluster_network.pod_cidr | default('10.128.0.0/14') }}
    serviceCIDR: {{ cluster_network.service_cidr | default('172.30.0.0/16') }}
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachinePool
metadata:
  name: {{ cluster_name }}
  namespace: {{ capi_namespace }}
spec:
  clusterName: {{ cluster_name }}
  replicas: {{ machine_pool.replicas | default(2) }}
  template:
    spec:
      clusterName: {{ cluster_name }}
      bootstrap:
        dataSecretName: ""
      infrastructureRef:
        name: {{ cluster_name }}
        apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
        kind: ROSAMachinePool
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
kind: ROSAMachinePool
metadata:
  name: {{ cluster_name }}
  namespace: {{ capi_namespace }}
spec:
  nodePoolName: {{ machine_pool.node_pool_name | default(cluster_name + '-nodepool') }}
  instanceType: {{ machine_pool.instance_type | default('m5.xlarge') }}
  {% if rosa_subnets is defined and rosa_subnets|length > 0 %}
  subnet: {{ rosa_subnets[0] }}  # Use first subnet for machine pool
  {% endif %}
  version: {{ openshift_version }}