apiVersion: v1
kind: Secret
metadata:
  name: capz-manager-bootstrap-credentials
  namespace: "{{ provider_namespace }}"
  labels:
    app.kubernetes.io/managed-by: "automation-capi"
    automation.openshift.io/provider: "azure"
type: Opaque
data:
  clientId: "{{ lookup('env', 'AZURE_CLIENT_ID') | b64encode }}"
  clientSecret: "{{ lookup('env', 'AZURE_CLIENT_SECRET') | b64encode }}"
  subscriptionId: "{{ lookup('env', 'AZURE_SUBSCRIPTION_ID') | b64encode }}"
  tenantId: "{{ lookup('env', 'AZURE_TENANT_ID') | b64encode }}"